<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
</head>
<body>

<div class="container-fluid">
           <h1 class="bg-primary text-white">post </h1>
            <section class="row">
                {% for row in rows %}
                    <div class="col-md-3">
                       <div class="card">
                           <div class="card-body text-center">
                             <h4>{{row[2]}}</h4>
                              <img src="../static/{{row[12]}}" alt="" class="img_fluid" width="70%" >
                               <br>
                               <p class="text-muted">{{row[3]}}</p>
                                <b><strike>KES{{row[4]}}</strike></b>
                                <b class="text-warning">KES{{row[5]}}</b>
                               <!--below we access a single route providing the current product id-->
                                <a href="/single/{{row[0]}}" class="btn btn-info">Read More</a>
                                <br><br>
                           </div>

                       </div>
                    </div>
                {% endfor %}
            </section>
        </div>

</body>
</html>